.search-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.search-form input {
  border-radius: 5px;
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
